* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	padding: 16px 192px;
	flex-direction: column;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	outline: 1px solid black; /* for debugging */
}

ul {
	outline: 1px solid black; /* for debugging */
	list-style: none;
	display: flex;
	gap: 8px;
}

a {
	text-decoration: none;
}
main {
	display: flex;
	flex-direction: column;
	flex: 1;
	outline: 1px solid black; /* for debugging */
}
main > div {
	outline: 1px solid black; /* for debugging */
	flex: 1;
}
footer {
	outline: 1px solid black; /* for debugging */
}
