@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	padding: 16px 192px;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
}

header {
	padding: 0 144px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1f2937;
	color: #f9faf8;
	font-size: 24px;
}

ul {
	list-style: none;
	display: flex;
	gap: 24px;
}

a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	color: #f9faf8;
}

main > div {
	flex: 1;
}
footer {
	outline: 1px solid black; /* for debugging */
}
.section1 {
	background-color: #1f2937;
	color: #e5e7eb;
	display: flex;
	padding: 16px 144px;
}

.section1 p {
	margin-right: 80px;
	font-size: 18px;
}
.section1-sub1,
.section1-sub2 {
	flex: 1;
}
.section1-sub2 {
	display: flex;
	background-color: #6d747d;
}
.section1-text {
	margin: auto;
}

.section1 button {
	margin-top: 16px;
	padding: 8px 24px;
	border-radius: 8px;
	border: none;
	background-color: #3882f6;
	color: #f9faf8;
	font-weight: bold;
}

.section2 {
	outline: 1px solid black; /* for debugging */
}
.section2 h2 {
	outline: 1px solid black; /* for debugging */
	text-align: center;
	margin: 24px 24px;
	font-size: 36px;
	color: #1f2937;
	font-weight: 900;
}

.section2-container {
	display: flex;
}
